<!-- Edit this file to change the layout of the detail view form -->

<script src="resources/datepicker/js/datepicker.packed.js"></script>
<link href="resources/datepicker/css/datepicker.css" rel="stylesheet">

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="patients_dv_container">
	<!-- child links -->
	<div class="row">
		<div class="col-xs-12">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="medical_records_view.php?filterer_patient=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="medical_records_link"><i class="glyphicon glyphicon-list-alt"></i> Historial médico</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="medical_records_view.php?filterer_patient=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_medical_records_link"><i class="glyphicon glyphicon-list-alt"></i> Historial médico</a>
			<input type="hidden" id="medical_records_hclink" value="medical_records_view.php?filterer_patient=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="events_hclink" value="events_view.php?filterer_name_patient=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="patients_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<label for="id" class="control-label col-lg-3">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<div class="form-group">
					<label for="last_name" class="control-label col-lg-3">Apellido<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="last_name" id="last_name" value="<%%VALUE(last_name)%%>" required>
					</div>
				</div>

				<div class="form-group">
					<label for="first_name" class="control-label col-lg-3">Primer nombre<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="first_name" id="first_name" value="<%%VALUE(first_name)%%>" required>
					</div>
				</div>

				<div class="form-group">
					<label for="gender" class="control-label col-lg-3">Género<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(gender)%%>
					</div>
				</div>



				<div class="form-group">
					<label for="birth_date" class="control-label col-lg-3">Fecha de nacimiento</label>
					<div class="col-lg-9">
						<%%COMBO(birth_date)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="age" class="control-label col-lg-3">Edad <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#age-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="age-description"><div class="alert alert-info">Se calcula automáticamente a partir de la fecha de nacimiento.</div></span>

						<div class="form-control-static" id="age"><%%VALUE(age)%%></div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-lg-3">Foto <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#image-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="image-description"><div class="alert alert-info">Tamaño máximo de archivo permitido: 1000 KB.<br>Tipos de archivo permitidos: jpg, jpeg, gif, png</div></span>

						<div class="form-control-static"><div class="pull-left">

						<a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(image)%%>" data-lightbox="patients_dv"><img src="thumbnail.php?i=<%%VALUE(image)%%>&t=patients&f=image&v=dv" class="img-thumbnail" id="image-image"></a>
</div>

												<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(image)%%>
							<%%REMOVEFILE(image)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<label for="state" class="control-label col-lg-3">Provincia</label>
					<div class="col-lg-9">
						<%%COMBO(state)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="mobile" class="control-label col-lg-3">Cédula</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="mobile" placeholder="18xxxxxxx0" id="mobile" value="<%%VALUE(mobile)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="tobacco_usage" class="control-label col-lg-3">Consumo de tabaco<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(tobacco_usage)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="alcohol_intake" class="control-label col-lg-3">Consumo de alcohol<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(alcohol_intake)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="history" class="control-label col-lg-3">Historia<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(history)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="surgical_history" class="control-label col-lg-3">Historial quirúrgico</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="surgical_history" id="surgical_history" rows="5"><%%VALUE(surgical_history)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="obstetric_history" class="control-label col-lg-3">Historial obstétrico</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="obstetric_history" id="obstetric_history" rows="5"><%%VALUE(obstetric_history)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="genetic_diseases" class="control-label col-lg-3">Enfermedades genéticas</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="genetic_diseases" id="genetic_diseases" rows="5"><%%VALUE(genetic_diseases)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="contact_person" class="control-label col-lg-3">Persona de contacto en caso de emergencia</label>
					<div class="col-lg-9">
						<input maxlength="100" type="text" class="form-control" placeholder="09xxxxx100" name="contact_person" id="contact_person" value="<%%VALUE(contact_person)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="other_details" class="control-label col-lg-3">Otros datos</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="other_details" id="other_details" rows="5"><%%VALUE(other_details)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="comments" class="control-label col-lg-3">Comentarios</label>
					<div class="col-lg-9">
						<%%HTMLAREA(comments)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="filed" class="control-label col-lg-3">Archivado en <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#filed-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="filed-description"><div class="alert alert-info">This field is automatically populated with the date and time when this record was created.</div></span>

						<div class="form-control-static" id="filed"><%%VALUE(filed)%%></div>
					</div>
				</div>

				<div class="form-group">
					<label for="last_modified" class="control-label col-lg-3">Última modificación <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#last_modified-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="last_modified-description"><div class="alert alert-info">This field is automatically populated with the date and time when this record was last modified.</div></span>

						<div class="form-control-static" id="last_modified"><%%VALUE(last_modified)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<div class="col-md-4 col-lg-2" id="patients_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="patients-children" class="children-tabs"></div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script src="nicEdit.js"></script>
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode){
				setTimeout(function(){
					window.parent.jQuery('.modal').modal('hide');
				}, 2000);
			}

			bkLib.onDomLoaded(function(){
				if($j('textarea#comments').length) new nicEditor({ fullPanel : true }).panelInstance('comments');

				$j('.nicEdit-panelContain').parent().width('90%');
				$j('.nicEdit-panelContain').parent().next().width('88%');
				$j('.nicEdit-main').width('99%');
			});
			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			$j('form').eq(0).change(function(){
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ return false; });

			if(embedded_mode){
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function(){
					$j('a[href]:not([href^=#]):not([href^=javascript]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function(){
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode){
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			}else{
				post(
					'parent-children.php', {
						ParentTable: 'patients',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'patients-children'
				);
			}

			if(!embedded_mode){
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function(){
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function(){
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			/* find and hide parent links if field label has data 'parent_link' set to 'view_parent_hidden' */
			$j('label[data-parent_link=view_parent_hidden]').each(function(){
				$j(this).parents('.form-group').find('.view_parent').hide();
			});

			$j('form').on('click', '.view_parent', function(){
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length){
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				}else{
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length){
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}'){
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link){
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function(){
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode){
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=patients&id=<%%URLVALUE(id)%%>',
					function(resp){
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=patients&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function(){
				if($j('#deselect.btn-warning').length){
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>